:root {
    --text-color: #C1C9CE;
    --background-color: #001427;
    --pink-color: #CA6A81;
    --yellow-color: #BA9F44;
    --blue-color: #2469C4;
    --green-color: #80DD93;
    --font-family: 'Josefin Sans', sans-serif;
    --font-size-text: 1rem;
    --break-point-mid: 768px;
    --box-header-color: rgba(193, 201, 206, 0.06);
}

/* Additional global styles can be added here */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--background-color);
    font-size: var(--font-size-text);
}

.pink {
    color: var(--pink-color)
}

.yellow {
    color: var(--yellow-color)
}

.blue {
    color: var(--blue-color)
}

.green {
    color: var(--green-color)
}

.pink-bg {
    background-color: var(--pink-color)
}

.yellow-bg {
    background-color: var(--yellow-color)
}

.blue-bg {
    background-color: var(--blue-color)
}

.green-bg {
    background-color: var(--green-color)
}

.row {
    display: flex;
    flex-flow: row;
}

.column {
    display: flex;
    flex-flow: column;
}